<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="${baseDir}\logs\nlog.log" internalLogLevel="Warning">
  <variable name="defaultLayout" value="${longdate}|${uppercase:${level}}|${message} ${exception:format=tostring}|${logger}" />
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
  </extensions>
  <targets>
    <default-wrapper xsi:type="AsyncWrapper">
      <wrapper-target xsi:type="RetryingWrapper"/>
    </default-wrapper>
    <target xsi:type="ColoredConsole" name="console" layout="${var:defaultLayout}" />
    <target xsi:type="File"
            name="file"
            fileName="${baseDir}\logs\${shortdate}.log"
            layout="${var:defaultLayout}"
            archiveEvery="Day"
            archiveAboveSize="10240"
            maxArchiveFiles="5"/>
    <target xsi:type="ApplicationInsightsTarget" name="ai">
      <contextproperty name="threadid" layout="${threadid}" />
    </target>
    <target xsi:type="Trace" name="trace" layout="${var:defaultLayout}" />
  </targets>
  <rules>
      <logger name="System.*" finalMinLevel="Warn" />
      <logger name="Microsoft.*" finalMinLevel="Warn" />
      <logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" />
      <logger name="KHAN*" finalMinLevel="Trace" writeTo="console,file,trace,ai" />
      <logger name="*" minlevel="${when:when='${environment:ASPNETCORE_ENVIRONMENT}'='Development':inner=Trace:else=Info}" writeTo="console" />
      <logger name="*" minlevel="${when:when='${environment:ASPNETCORE_ENVIRONMENT}'='Development':inner=None:else=Trace}" writeTo="file" />
      <logger name="*" minlevel="${when:when='${environment:ASPNETCORE_ENVIRONMENT}'='Development':inner=Trace:else=Info}" writeTo="trace" />
      <logger name="*" minlevel="${when:when='${environment:ASPNETCORE_ENVIRONMENT}'='Development':inner=Trace:else=Info}" writeTo="ai" />      
  </rules>
</nlog>